{% extends 'myauth/base.html' %}
{% load cache %}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>
        User info
    </h1>
    <div>
        Products available: {% now "u" %}
    </div>
    {% if user.is_authenticated %}
        {% cache 300 userinfo user.username %}
            <h2>
                Detail
            </h2>
            <div>
                Avatar:
                {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" alt="Avatar" height=100 width=100">
                    {% if user.is_staff or user.id == user.profile.user_id %}
                        <div>
                            <a href="{% url 'myauth:change-photo-me' %}">
                                Change photo
                            </a>
                        </div>
                    {% endif %}

                {% else %}
                    No photo yet
                    {% if user.is_staff or user.id == user.profile.user_id %}
                        <div>
                            <a href="{% url 'myauth:change-photo-me' %}">
                                Add photo
                            </a>
                        </div>
                    {% endif %}
                {% endif%}
            </div>
            <p>
                Username: {{ user.username }}
            </p>
            <p>
                First name: {{ user.first_name }}
            </p>
            <p>
                Last name: {{ user.last_name }}
            </p>
            <p>
                Email: {{ user.email }}
            </p>
            <p>
                Bio: {{ user.profile.bio }}
            </p>
            <p>
                <a href="{% url 'myauth:change-profile' %}">
                    Change profile
                </a>
            </p>
            <p>
                <a href="{% url 'myauth:profiles_list' %}">
                    Profiles list
                </a>
            </p>
        {% endcache %}
    {% else %}
        <h2>
            User anonymous
        </h2>


    {% endif %}

{% endblock %}
