{% extends 'myauth/base.html' %}

{% block title %}
    Change your account
{% endblock %}

{% block body %}
    <h1>
        Change your account
    </h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <button type="submit">
                Save changes
            </button>
        </form>
    </div>
    <p>
        <a href="{% url 'myauth:about-me' %}">
            Back to profile
        </a>
    </p>

{% endblock %}
