{% extends 'myauth/base.html' %}

{% block title %}
    Change photo
{% endblock %}

{% block body %}
    <h1>
        Change photo
    </h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ profile_avatar_form.as_p }}
            <p>
                <button type="submit">
                    Save changes
                </button>
            </p>

        </form>
    </div>
    <p>
        <a href="{% url 'myauth:about-me' %}">
            Back to profile
        </a>
    </p>

{% endblock %}
