{% extends 'myauth/base.html' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>
        User info
    </h1>
    {% if user.is_authenticated %}

        <h2>
            Detail
        </h2>
        <div>
            Avatar:
            {% if object.avatar %}
                <img src="{{ profile.avatar.url }}" alt="Avatar" height=100 width=100">
                    {% if object.is_staff or user_id == profile.user_id %}
                    <div>
                        <a href="{% url 'myauth:change-photo' %}">
                            Change photo
                        </a>
                    </div>
                {% endif %}

            {% else %}
                No photo yet
            {% endif%}
        </div>
        <p>
            Username: {{ user.username }}
        </p>
        <p>
            First name: {{ user.first_name }}
        </p>
        <p>
            Last name: {{ user.last_name }}
        </p>
        <p>
            Email: {{ user.email }}
        </p>
        <p>
            Bio: {{ user.profile.bio }}
        </p>
        <p>
            <a href="{% url 'myauth:profiles_list' %}">
                Back to profiles list
            </a>
        </p>

    {% else %}
        <h2>
            User anonymous
        </h2>


    {% endif %}

{% endblock %}
