{% extends 'myauth/base.html' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>
        User info
    </h1>
    {% if object.user.is_authenticated %}

        <h2>
            Detail
        </h2>
        <div>
            Avatar:
            {% if object.avatar %}
                <img src="{{ profile.avatar.url }}" alt="Avatar" height=100 width=100">
                {% if object.user.is_staff or object.user.pk == object.profile.pk %}
                    <div>
                        <a href="{% url 'myauth:change-photo' %}">
                            Change photo
                        </a>
                    </div>
                {% endif %}

            {% else %}
                No photo yet
                {% if object.user.is_staff or object.user.pk == object.profile.pk %}
                    <div>
                        <a href="{% url 'myauth:change-photo' %}">
                            Add photo
                        </a>
                    </div>
                {% endif %}
            {% endif%}
        </div>
        <p>
            Username: {{ object.user.username }}
        </p>
        <p>
            First name: {{ object.user.first_name }}
        </p>
        <p>
            Last name: {{ object.user.last_name }}
        </p>
        <p>
            Email: {{ object.user.email }}
        </p>
        <p>
            Bio: {{ object.user.profile.bio }}
        </p>
        <p>
            <a href="{% url 'myauth:profiles_list' %}">
                Back to profiles list
            </a>
        </p>

    {% else %}
        <h2>
            User anonymous
        </h2>


    {% endif %}

{% endblock %}
